<div id="anime-details">
    <h1>{{anime.title}}</h1>
    <div>
        <div class="col-md-4" anime-news-network anime="anime"></div>
        <div class="col-md-8">
            <accordion class="row">
                <accordian-group class="row">
                    <div episode-list episodes="episodes"></div>
                </accordian-group>
                <accordian-group class="row">
                    <div nyaa-torrents anime="anime.title"></div>
                </accordian-group>
            </accordion>
        </div>
    </div>
</div>