<div id="torrents-view">
    <h2>Nyaa Torrents</h2>

    <div ng-if="message">
        {{message}}
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Filter by file name" ng-model="searchTorrentName"/>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info" ng-click="addMultipleTorrents()">Add selected torrents</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <tr>
            <th ng-click="predicate = 'name'; reverse=!reverse">
                <strong>Name</strong>
            </th>
            <th ng-click="predicate = 'size'; reverse=!reverse">
                <strong>Size</strong>
            </th>
            <th ng-click="predicate = 'seeds'; reverse=!reverse">
                <strong>Seeds</strong>
            </th>
            <th ng-click="predicate = 'leeches'; reverse=!reverse">
                <strong>Leeches</strong>
            </th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="torrent in torrentList | filter: searchTorrentName | orderBy:predicate:reverse">
            <td>{{torrent.name}}</td>
            <td>{{torrent.readableSize}}</td>
            <td>{{torrent.seeds}}</td>
            <td>{{torrent.leeches}}</td>
            <td ng-model="torrent.isLoading">
                <a class="btn btn-primary" ng-click="addToTorrentClient(torrent)">
                    <i class="fa"
                       ng-class="{ 'fa-plus': !torrent.isLoading, 'fa-refresh': torrent.isLoading, 'fa-spin': torrent.isLoading }"></i>
                </a>
            </td>
            <td><input type="checkbox" ng-model="torrent.isSelected"></td>
        </tr>
    </table>
</div>