extends layout

block content
    h1= title
    p Demonstration of a Cart Application Using Express JS, Angular JS on Node.js server
        div(ng-controller='BridleController')
            div {{activeTemplate}}
            #example.container(ng-controller='ItemController')
                .alert.alert-danger(ng-show="error !== undefined")
                    span {{error}}
                .alert.alert-success(ng-show="success !== undefined")
                    span {{success}}
                .row
                    ul.nav.nav-pills.clickable
                        li
                            a(ng-click='activeTemplate.active = "config"') Choose Type
                        li(ng-repeat='category in categories')
                            a(ng-click='filters.categoryId = category.id') {{category.name}}
                        li
                            a Order Summary
                    #search-container.row
                        input(text='text', ng-model='query', placeholder='Query here')
                    div(ng-include="activeTemplate.active")
