extends layout

block content
  h1= title
  p Welcome to #{title}
    #example.container(ng-controller='ItemController')
        .alert.alert-danger(ng-show="error !== undefined")
            span {{error}}
        .alert.alert-success(ng-show="success !== undefined")
            span {{success}}
        .row
            ul.nav.nav-pills.clickable
                li
                li(ng-repeat='category in categories')
                    a(ng-click='filters.categoryId = category.id') {{category.name}}
                li
                    a Order Summary
            #search-container.row
                input(text='text', ng-model='query', placeholder='Query here')
            .row
                #product-container.col-md-3
                    div(ng-repeat='item in items | filter:filters | filter:query')
                        h4 {{item.name}}
                        p {{item.description}}
                        p
                            b {{item.price | currency}}
                        button.btn.btn-sm.btn-info(ng-click='preview(item)') Preview
                #item-preview.col-md-6(ng-model='previewItem')
                    h2 {{previewItem.name}}
                    p {{previewItem.description}}
                    button.btn.btn-primary(ng-click='addToCart(previewItem)') Add To Cart
                .col-md-3
                    #cart-container
                        h3 Cart:
                        ul#items-list
                            li(ng-repeat='cartItem in cart | orderBy:cart.price')
                                p
                                    | {{cartItem.name}} - Qty: {{cartItem.quantity}}
                                    button.close(ng-click='removeItem($index)', aria-hidden='true') ×
                        #total
                            p(ng-show='cart.length > 0')
                                b Total: {{calculateTotal() | currency}}
                        button.btn.btn-primary#checkout(ng-show='cart.length > 0', ng-click='checkout()') Checkout
