.anime-app {
  width: 100%;

  .anime-list {
    .list-container {
      @include make-row();
    }

    .anime-list-filters {
      padding: 20px 0px;
    }

  }

  #ann-image {
    width: 100%;
    padding-bottom: 10px;
  }

  .anime-item {
    @include transition(all, 0.2s, ease);

    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(3);
    @include make-lg-column(2);

    padding: 5px;
    display: inline-block;
    cursor: pointer;
    list-style-type: none;
    vertical-align: top;
    height: 340px;
    text-align: center;

    &:hover {
      background-color: lightgrey;
    }

    .active {
      background-color: lightgrey;
    }
    .item-container {
      padding-top: 20px;
      height: 90%;

      .image-holder {
        height: 90%;
        img {
          width: 90%;
          height: 100%;
        }
      }
      .item-title {
        display: block;
        font-size: 14px;
        line-height: 1.6;
        overflow: hidden;
        padding: 10px 10px 0;
      }
      .item-footer {
        height: 10px;
        padding: 0px 10px;
      }
    }
  }

  .loading {
    opacity: 0.2;
  }

  .anime-filter {
    input {
      margin-right: 5px;
    }
  }

  .torrent-filters {
    padding: 10px 0px;
  }

  .anime-options {
    padding: 10px 0px;
  }
}

#anime-details-page {
  .anime-details {
    @include make-row();

    .ann-details {
      @include make-md-column(4);

      img {
        @extend .hidden-xs;
        @extend .hidden-sm;
      }
    }

    .file-details {
      @include make-md-column(8);
    }
  }
}

#add-anime-page {
    .search-bar {
        @include make-sm-column(12);
    }
    .results {
        @include make-sm-column(12);
    }
}