// Notification Colours
$notify_error_bg: #fcf2f2;
$notify_error_border: #dFb5b4;

$notify_info_bg: #fefbed;
$notify_info_border: #f1e7bc;

$notify_success_bg: #f0f7fd;
$notify_success_border: #d0e3f0;

$anime-list-color: #666666;
$respond-to-mobile: 'screen and (min-width: 200px) and (max-width: 720px) and (orientation: portrait)';
$respond-to-tablet: 'screen and (min-width: 720px) and (max-width: 1024px) and (orientation: portrait)';
