$anime-list-color: #666666;

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

.clickable {
  cursor: pointer;
}

.spinner {
  padding-left: 10px;
}

div.item-selected {
  background-color: rgb(96, 192, 96);
}

a {
  color: #00B7FF;
}

.anime-app {
  width: 100%;

  .anime-list-section {
    padding: 0;
  }

  .anime-search {
    background-color: #5f9ea0;
    padding: 2.5% 5%;
  }

  .anime-list-loading {
    opacity: 0.2;
  }

  .anime-list {
    background-color: $anime-list-color;
    ul {
      padding: 0;
    }
    li {
      @include transition(all, 0.2s, ease);
      background-color: inherit;
      color: white;
      padding: 3.5% 0px;
      cursor: pointer;
      list-style-type: none;

      &:hover {
        background-color: lightgrey;
        color: black;
      }

      .active {
        background-color: lightgrey;
        color: black;
      }

      span {
        margin-left: 5%;
      }
    }
  }

  .anime-filter {
    input {
      margin-right: 5px;
    }
  }
}

