$anime-list-color: #666666;

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  position: fixed;
}

.clickable {
  cursor: pointer;
}

.spinner {
  padding-left: 10px;
}

div.item-selected {
  background-color: rgb(96, 192, 96);
}

a {
  color: #00B7FF;
}

.anime-app {
  width: 100%;

  .anime-list-section {
    padding-top: 10px;
    padding-bottom: 10px;

    .anime-search {
      padding-bottom: 10px;
    }

    .anime-list {
      background-color: $anime-list-color;
      height: 650px;
      overflow: auto;

    }

    #loadSpinner {
      opacity: 1.0;
      margin: 0 auto;
    }

  }

  .anime-item {
    @include transition(all, 0.2s, ease);
    width: 16.6666667%;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    list-style-type: none;
    vertical-align: top;
    height: 200px;

    &:hover {
      background-color: lightgrey;
    }

    .active {
      background-color: lightgrey;
    }
    .item-container {
      padding-top: 20px;
      .image-holder {
        height: 100px;
        width: 100%;
      }
      .item-title {
        display: block;
        font-size: 14px;
        line-height: 1.6;
        overflow: hidden;
        padding: 10px 10px 0;
      }
      .item-footer {
        height: 10px;
      }
    }
  }

  .loading {
    opacity: 0.2;
  }

  .anime-filter {
    input {
      margin-right: 5px;
    }
  }

  .torrent-filters {
    padding: 10px 0px;
  }
}
