<div id="anime-details">
    <h1>{{anime.title}}</h1>

    <div>
        <div class="col-md-4" anime-news-network anime="anime"></div>
        <div class="col-md-8">
            <div anime-options anime="anime"></div>
            <accordion close-others="closeOthers">
                <accordion-group heading="Episodes" is-open="true">
                    <div episode-list episodes="episodes"></div>
                </accordion-group>
                <accordion-group heading="NyaaTorrents" is-open="true">
                    <div nyaa-torrents anime="anime.title"></div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>