body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.clickable {
    cursor: pointer;
}

.spinner {
    padding-left: 10px;
}

div.item-selected {
    background-color: rgb(96, 192, 96);
}

a {
  color: #00B7FF;
}