extends layout

block content
    div
        div.row(ng-controller="AnimeController", ng-init="init()")
            div.col-md-4.anime-list-section
                div.anime-search
                    form.form-inline(role="form")
                        div.form-group.anime-filter
                            input.form-control(text="text", ng-model="animeFilter", placeholder="Filter anime")
                        button.btn.btn-default(ng-click="getAnime()")
                            span.glyphicon.glyphicon-refresh
                            | Get Anime
                div.anime-list
                    ul
                        li.anime-title(ng-repeat="test in anime | filter: animeFilter", ng-click="getEpisodes(test)", ng-class="{ active: isSelected(test) }") {{test.title}}
            div.col-md-8
                h2 {{selectedAnime.title}}
                ul(ng-repeat="episode in episodes")
                    li {{episode.filePath}}


