extends layout

block content
    div.row(ng-controller="AnimeController", ng-init="init()")
        aside.col-md-2.anime-list-section
            div.anime-search
                form.form-inline(role="form")
                    div.form-group.anime-filter
                        input.form-control(text="text", ng-model="animeFilter", placeholder="Filter anime")
                    button.btn.btn-default(ng-click="refresh()", ng-model="clickLoad")
                        span.glyphicon.glyphicon-refresh
                    button.btn.btn-default Hide
            div.anime-list(ng-class="{ 'anime-list-loading': clickLoad }")
                ul
                    li.anime-title(ng-repeat="test in animeList | filter: animeFilter", ng-click="getEpisodes(test)")
                        span(ng-click="getEpisodes(test)") {{test.title}}
        article.col-md-10.anime-results
            h2 {{selectedAnime.title}}
            div.col-md-8
                accordion(close-others="true")
                    accordion-group(heading="Episodes", is-open="true")
                        div(episode-list episodes="episodes")
                    accordion-group(heading="Test", is-open="true")
                        div test
            div.col-md-4
                div(style="background-color: black")


