extends layout

block content
    h1= title
    p Demonstration of a Cart Application Using Express JS, Angular JS on Node.js server
        div(ng-controller='BridleController')
            #example.container(ng-controller='ItemController')
                .alert.alert-danger(ng-show="error !== undefined")
                    span {{error}}
                .alert.alert-success(ng-show="success !== undefined")
                    span {{success}}
                .row
                    ul.nav.nav-pills.clickable
                        li
                            a(ng-click='activeTemplate.active = "config"') Choose Type
                        li(ng-show="hasChosenType.chosenType", ng-class="{ 'active': !anyFilters() }")
                            a(ng-click='resetFilters()') Show All
                        li(ng-repeat='category in categories', ng-show='hasChosenType.chosenType', ng-class="{ 'active': isActive(category) }")
                            a(ng-click='filters.categoryId = category.id') {{category.name}}
                        li
                            a Order Summary
                    #search-container.row
                        input(text='text', ng-model='query', placeholder='Search Products')
                    div(ng-include="activeTemplate.active")
                    input(text='text', ng-model='testModel')
                    div(test-directive test='testModel')
