extends layout

block content
    div(ng-controller="AnimeController", ng-init="init()", style="display:none;")
        aside.col-md-2.anime-list-section
            div.row.anime-search
                form.form-inline(role="form")
                    input.form-control(text="text", ng-model="animeFilter", placeholder="Filter anime")
            div.row.anime-list(ng-class="{ 'loading': clickLoad }")
                ul
                    li.anime-title(ng-repeat="test in animeList | filter: animeFilter", ng-click="getEpisodes(test)")
                        span(ng-click="getEpisodes(test)") {{test.title}}
        article.col-md-10.anime-results
            h2 {{selectedAnime.title}}
            div.col-md-8
                accordion.row(close-others="true")
                    accordion-group.row(heading="Episodes", is-open="true")
                        div(episode-list episodes="episodes")
                    accordion-group.row(heading="Torrents", is-open="true")
                        div(nyaa-torrents anime="selectedAnime.title")
            div.col-md-4
                div(anime-news-network anime="selectedAnime.title")


