doctype html
html(ng-app='AnimeApp')
    head
        title= title
        script(data-require="angular.js@*", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js")
        script(data-require="angular.js@*", src="http://code.angularjs.org/1.3.0-beta.5/angular-resource.min.js")
        script(data-require="angular.js@*", src="http://code.angularjs.org/1.3.0-beta.5/angular-route.min.js")
        script(src="/libs/ui-bootstrap-tpls-0.10.0.min.js")
        script(src='/animeapp/animeapp.js')
        script(src='/animeapp/controllers.js')
        script(src='/animeapp/directives.js')
        script(src='/animeapp/resources.js')
        script(src='/animeapp/routes.js')
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/animate.css')
        link(rel='stylesheet', href='/stylesheets/css/styles.css')
    body
        header
            nav.navbar.navbar-default.navbar-static-top(role="navigation")
                div.navbar-header
                    a.navbar-brand(href="#") Anime Episode Application
                ul.nav.navbar-nav
                    li
                        a(href="#") Anime

        div.container.anime-app
            block content
            div(ng-view)
        footer