.notification-directive {

    // Make change to the notification clear buttons here
    notification-clear {
        display: block;
        padding-bottom: 10px;
    }

    .notifications {
        padding: 0px;

        .message-container {
            list-style-type: none;
            font-size: 12px;

            .message {
                .closeIcon {
                    float: right;
                    top: 0px;
                    margin-top: -16px;
                }
            }
        }
    }
}

#notification-counter {
    position: absolute;
    right: -5px;
    top: 5px;
}